# Problem No: 02

In [ ]:
import pandas as pd

In [65]:
df = pd.read_csv('Mobile_Price_Classifiation_train_missing.csv')

In [66]:
#i. Find which attribute(s) have null values
df.isnull().sum()

Unnamed: 0         0
battery_power     33
blue               0
clock_speed        0
dual_sim           0
fc                 0
four_g             0
int_memory         0
m_dep              0
mobile_wt          0
n_cores            0
pc                 0
px_height          0
px_width           0
ram              243
sc_h               0
sc_w               0
talk_time          0
three_g            0
touch_screen       0
wifi               0
price_range        0
dtype: int64

In [67]:
#ii. Drop a column titled “Unnamed: 0” as it is useless 
df.drop('Unnamed: 0', axis=1,inplace=True)
df.isnull().sum()

battery_power     33
blue               0
clock_speed        0
dual_sim           0
fc                 0
four_g             0
int_memory         0
m_dep              0
mobile_wt          0
n_cores            0
pc                 0
px_height          0
px_width           0
ram              243
sc_h               0
sc_w               0
talk_time          0
three_g            0
touch_screen       0
wifi               0
price_range        0
dtype: int64

In [68]:
#iii. Display only those data not having NaN concerning battery_power 
nn = df.dropna(subset=['battery_power'])
print(nn['battery_power'])

0        842.0
1       1021.0
2        563.0
4       1821.0
5       1859.0
         ...
1995     794.0
1996    1965.0
1997    1911.0
1998    1512.0
1999     510.0
Name: battery_power, Length: 1967, dtype: float64

In [73]:
#iv. Drop all data corresponding to NaN using the “dropna” method with inplace parameter. 
df.dropna(inplace=True)
df.isnull().sum()

battery_power    0
blue             0
clock_speed      0
dual_sim         0
fc               0
four_g           0
int_memory       0
m_dep            0
mobile_wt        0
n_cores          0
pc               0
px_height        0
px_width         0
ram              0
sc_h             0
sc_w             0
talk_time        0
three_g          0
touch_screen     0
wifi             0
price_range      0
dtype: int64

In [74]:
#v. Read the file again, and drop all data corresponding to NaN concerning the ram. 
df = pd.read_csv('Mobile_Price_Classifiation_train_missing.csv')
nn = df.dropna(subset=['ram'])
print(nn['ram'])

0       2549.0
3       2769.0
4       1411.0
5       1067.0
6       3220.0
         ...
1993    3962.0
1994    3978.0
1995     668.0
1998     869.0
1999    3919.0
Name: ram, Length: 1757, dtype: float64

In [85]:
# vi. Read the file again, and fill the NaN with the mean or mode values of corresponding
# attributes with the inplace parameter. 
df = pd.read_csv('Mobile_Price_Classifiation_train_missing.csv')
df.fillna({'battery_power':df['battery_power'].mean(), 'ram':df['ram'].mode()}, inplace=True)
print(df['ram'])
print(df['battery_power'])

0       2549.0
1       1464.0
2       2227.0
3       2769.0
4       1411.0
         ...
1995     668.0
1996       NaN
1997       NaN
1998     869.0
1999    3919.0
Name: ram, Length: 2000, dtype: float64
0        842.000000
1       1021.000000
2        563.000000
3       1242.797153
4       1821.000000
           ...
1995     794.000000
1996    1965.000000
1997    1911.000000
1998    1512.000000
1999     510.000000
Name: battery_power, Length: 2000, dtype: float64

In [132]:
#vii. Read the file again, and fill the NaN in the “battery_power” attribute group by the
#“n_cores” attribute. 
df = pd.read_csv('Mobile_Price_Classifiation_train_missing.csv')
df['battery_power'] = df.groupby(['n_cores'])['battery_power'].fillna(method='ffill')
print(df['battery_power'])

0        842.0
1       1021.0
2        563.0
3          NaN
4       1821.0
         ...
1995     794.0
1996    1965.0
1997    1911.0
1998    1512.0
1999     510.0
Name: battery_power, Length: 2000, dtype: float64

In [133]:
#viii. Fill the NaN in the “ram” attribute group by the “price_range” attribute. 
df = pd.read_csv('Mobile_Price_Classifiation_train_missing.csv')
df['ram'] = df.groupby(['price_range'])['ram'].fillna(method='ffill')
print(df['ram'])

0       2549.0
1          NaN
2          NaN
3       2769.0
4       1411.0
         ...
1995     668.0
1996    3248.0
1997    3978.0
1998     869.0
1999    3919.0
Name: ram, Length: 2000, dtype: float64

In [137]:
#ix. Read the file again, and fill the NaN with a constant value. 
df = pd.read_csv('Mobile_Price_Classifiation_train_missing.csv')
df.fillna(0,inplace=True)
df

,Unnamed: 0,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,0,842.0,False,2.2,0,1,No,7,0.6,188,...,20,756,2549.0,9,7,19,0,0,1,1
1,1,1021.0,True,0.5,1,0,Yes,53,0.7,136,...,905,1988,0.0,17,3,7,1,1,0,2
2,2,563.0,True,0.5,1,2,Yes,41,0.9,145,...,1263,1716,0.0,11,2,9,1,1,0,2
3,3,0.0,True,2.5,0,0,No,10,0.8,131,...,1216,1786,2769.0,16,8,11,1,0,0,2
4,4,1821.0,True,1.2,0,13,Yes,44,0.6,141,...,1208,1212,1411.0,8,2,15,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1995,794.0,True,0.5,1,0,Yes,2,0.8,106,...,1222,1890,668.0,13,4,19,1,1,0,0
1996,1996,1965.0,True,2.6,1,0,No,39,0.2,187,...,915,1965,0.0,11,10,16,1,1,1,2
1997,1997,1911.0,False,0.9,1,1,Yes,36,0.7,108,...,868,1632,0.0,9,1,5,1,1,0,3
1998,1998,1512.0,False,0.9,0,4,Yes,46,0.1,145,...,336,670,869.0,18,10,19,1,1,1,0
1999,1999,510.0,True,2.0,1,5,Yes,45,0.9,168,...,483,754,3919.0,19,4,2,1,1,1,3

In [141]:
#x. Suggest the best fill of missing value of attributes battery_power and ram according to the dataset 

#Ans: according to dataset, The best method to fill NaN values might be forward fill because of the variation in 
# computational power of batter power and ram. so ffill would be best in this case
df = pd.read_csv('Mobile_Price_Classifiation_train_missing.csv')
df['ram'].fillna(method='ffill' ,inplace=True)
df['battery_power'].fillna(method='ffill' ,inplace=True)
print(df['ram'])
print(df['battery_power'])

0       2549.0
1       2549.0
2       2549.0
3       2769.0
4       1411.0
         ...
1995     668.0
1996     668.0
1997     668.0
1998     869.0
1999    3919.0
Name: ram, Length: 2000, dtype: float64
0        842.0
1       1021.0
2        563.0
3        563.0
4       1821.0
         ...
1995     794.0
1996    1965.0
1997    1911.0
1998    1512.0
1999     510.0
Name: battery_power, Length: 2000, dtype: float64